<template>
  <city />
</template>

<script>
import Cookies from 'js-cookie'
import City from '../city'
export default {
  head() {
    return {
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        {
          innerHTML: JSON.stringify(this.structuredData),
          type: 'application/ld+json',
          body: true
        }
      ],
      title: `${this.typeLabel} квартиру без посредников в городе ${this.$store.getters['cityselectorstore/citySelectedLabel']} от собственника`,
      meta: [
        // { charset: 'utf-8' },
        {
          // vmid: 'city',
          hid: 'type',
          name: 'description',
          content: `${this.typeLabel} квартиру без посредников на длительный срок в городе ${this.$store.getters['cityselectorstore/citySelectedLabel']}`
        }
      ]
    }
  },
  components: { City },
  layout: 'app_main',
  computed: {
    typeLabel() {
      return [
        { id: 0, label: 'Сниму' },
        { id: 1, label: 'Сдам' }
      ].filter(t => t.id === this.$store.state.cityselectorstore.adType)[0].label
    },
    type() {
      return this.$route.params.type
    }
  },
  mounted() {
    let accessToken = Cookies.get('accessToken'),
      refreshToken = Cookies.get('refreshToken'),
      userPhoto = Cookies.get('userPhoto'),
      firstName = Cookies.get('firstName'),
      token = Cookies.get('token')

    if (token === 'admin') {
      this.$store.dispatch('user/setStatus')
    }
    if (!!accessToken && !!refreshToken) {
      this.$store.dispatch('authorization/setTokens', {
        accessToken,
        refreshToken
      })

      this.$store.dispatch('user/setUserData', {
        photo: userPhoto,
        firstName
      })
      this.$axios.setToken(accessToken, 'Bearer')
      this.$axios.setHeader('refreshToken', refreshToken)
    }

    let cityName = this.$route.params.city
    console.log(this.$route.params)

    this.$store.dispatch('cityselectorstore/setCityIdByName', cityName).then(cityId => {
      if (this.$store.state.authorization.isAuthenticated) {
        this.$store.dispatch('ads/getAds', {
          citySelected: cityId,
          adType: this.$store.state.cityselectorstore.adType
        })
      } else {
        this.$store.dispatch('ads/getAdsLimit', {
          citySelected: cityId,
          adType: 1
        })
      }
    })
  }
}
</script>