<template>
  <div v-if="!!ad.text">
    <v-card :key="ad.id">
      <v-row align="start" align-content="start" no-gutters>
        <v-col sm="1" cols="2">
          <div class="avatar-block">
            <a
              :href="!!isAuthenticated ? `//vk.com/id${ad.user_id}` : '#'"
              :target="!!isAuthenticated ? '_blank' : ''"
              :class="isAuthenticated ? '' : 'isDisabled'"
            >
              <v-img
                class="avatar"
                :src="`${ad.avatar_url == 'undefined' ? require('@/assets/notAva.png') : ad.avatar_url}`"
              ></v-img>
            </a>
            <a
              class="link"
              v-if="(ad.post_id !== 0 && ad.public_id === 0 && isAuthenticated) || isAdmin"
              :href="`//vk.com/wall${(ad.public_id > 0 ? ad.public_id * -1 : ad.user_id) + '_' + ad.post_id}`"
              target="_blank"
              >Пост</a
            >
          </div>
        </v-col>
        <v-col sm="11" cols="10">
          <v-card-text>
            <v-row no-gutters justify="space-between">
              <v-col>
                <a class="firstname" :href="`//vk.com/id${ad.user_id}`" target="_blank" v-if="isAuthenticated">
                  <h3>{{ ad.first_name }}</h3>
                </a>
                <p v-if="!!getDate" class="caption">{{ getDate }}</p>
              </v-col>
              <v-spacer></v-spacer>
              <v-col sm="1" cols="2">
                <v-menu right>
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark v-on="on" text>
                      <v-icon>{{ svgKeyboardArrowDown }}</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(complain, index) in complainTypes"
                      :key="index"
                      @click="toComplain(complain.id)"
                    >
                      <v-list-item-title>
                        {{ complain.title }}
                      </v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="isAdmin" @click="blockUser(ad.user_id)">
                      <v-list-item-title>Заблокировать</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                {{ text }}
              </v-col>
            </v-row>
          </v-card-text>

          <v-btn class="btn" small text @click="showFullText()" v-if="ad.text.length > 290">
            {{ ad.text.length > 300 ? (isFullText ? 'скрыть' : 'подробнее') : '' }}
          </v-btn>

          <!-- <v-img
            :src="`${ad.images[0]}`"
            height="125px"
            contain
            class="photo"
            @click="openCarousel"
            v-if="!!ad.images && !!ad.images[0]"
          ></v-img>-->

          <v-row justify="center" align="center" align-content="center">
            <v-col sm="4" cols="8" v-for="(img, key) in ad.images" :key="img" v-show="key < 1">
              <v-img :src="`${img}`" height="125px" contain class="preview-image" @click="openCarousel" />
            </v-col>
          </v-row>
        </v-col>

        <v-col>
          <v-card-actions>
            <v-btn @click="openCard"
              ><v-icon>{{ mdiMagnify }}</v-icon></v-btn
            >
            <v-btn @click="deletePost()" v-if="isAdmin"
              ><v-icon>{{ svgDeletePath }}</v-icon>
            </v-btn>

            <v-spacer></v-spacer>
          </v-card-actions>
        </v-col>
      </v-row>
    </v-card>
    <v-dialog v-model="dialog" max-width="800" eager overlay-color="black">
      <v-carousel class="carousel">
        <v-carousel-item
          class="carousel-item"
          eager
          v-for="item in ad.images"
          :key="item"
          reverse-transition="none"
          transition="none"
          style="height: auto"
        >
          <img :src="item" max-width="100%" width="100%" class="detail-image" />
        </v-carousel-item>
      </v-carousel>
    </v-dialog>
  </div>
</template>

<script>
import { mdiDelete, mdiChevronDown, mdiMagnify } from '@mdi/js'

export default {
  name: 'Card',
  props: ['ad'],

  data() {
    return {
      image: null,
      svgDeletePath: mdiDelete,
      mdiMagnify,
      svgKeyboardArrowDown: mdiChevronDown,
      isFullText: false,
      dialog: false,
      complainTypes: [
        { id: 1, title: 'Это агент' },
        { id: 2, title: 'Это не объявление' },
        { id: 3, title: 'Не актуально' }
      ]
    }
  },
  methods: {
    openCard() {
      let id = this.ad.id
      this.$store.dispatch('ads/getPostById', id).then(() => this.$router.push('/msk/sdam/' + id))
    },
    toComplain(id) {
      this.ad.complainTypeId = id
      this.$store.dispatch('ads/complain', this.ad)
    },
    showFullText() {
      this.isFullText = !this.isFullText
    },
    openCarousel(img) {
      this.dialog = true
    },
    blockUser(userId) {
      this.$store.dispatch('user/blockUser', userId).then(this.$store.dispatch('ads/deletePost', this.ad))
    },
    deletePost() {
      confirm('Вы точно хотите удалить это объяввление?') && this.$store.dispatch('ads/deletePost', this.ad)
    }
  },
  computed: {
    text() {
      let text
      if (this.$store.state.authorization.isAuthenticated) {
        text = this.isFullText ? this.ad.text : this.ad.text + (this.ad.text.length > 300 ? ' . . .' : '')
      } else {
        text = this.ad.text.substring(0, 100)
      }
      return text
    },
    isAdmin() {
      return this.$store.state.user.status
    },
    isAuthenticated() {
      return this.$store.state.authorization.isAuthenticated
    },
    getDate() {
      let hour = parseInt((Date.now() / 1000 - this.ad.date) / 3600)
      let timePassed = ''
      if (this.ad.date) {
        if (hour < 1) {
          let minutes = parseInt((Date.now() / 1000 - this.ad.date) / 60)

          if (minutes === 1) {
            timePassed = `${minutes} минуту назад`
          }
          if (minutes > 1 && minutes <= 4) {
            timePassed = `${minutes} минуты назад`
          }
          if (minutes > 4) {
            timePassed = `${minutes} минут назад`
          }
        } else if (hour > 24) {
          let days = parseInt(hour / 24)
          if (days === 1) {
            timePassed = `${days} день назад`
          }
          if (days > 1 && days <= 4) {
            timePassed = `${days} дня назад`
          }
          if (days > 4) {
            timePassed = `${days} дней назад`
          }
        } else {
          if (hour === 1) {
            timePassed = `${hour} час назад`
          }
          if (hour > 1 && hour <= 4) {
            timePassed = `${hour} часа назад`
          }
          if (hour > 4) {
            timePassed = `${hour} часов назад`
          }
        }
      }
      return timePassed
    }
  }
}
</script>

<style lang="scss" >
.isDisabled {
  pointer-events: none;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.carousel {
  border-color: transparent;
  border: 0px;
}
.carousel-item {
  background-color: black;
  border: 0px;
}
.detail-image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.preview-image {
  margin: 0 5px;
}
.dialog {
  border: 0px;
  border-color: transparent;
  background-color: black;
}
.v-card {
  margin: 5px 0px 20px;
}
.photo {
  margin: 5px;
  min-width: 200px;
}
.avatar-block {
  margin: 10px 10px;
}
.avatar {
  border-radius: 100px;
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 12px;
}
.link {
  white-space: nowrap;
  margin: 10px auto;
}
.btn {
  margin: 0 auto;
}
.firstname {
  text-decoration: none;
}
</style>
