<template>
  <div>
    <v-autocomplete
      v-model="citySelected"
      :items="sortCitys()"
      autofocus
      single-line
      clearable
      :menu-props="{closeOnClick:false, closeOnContentClick:true, openOnClick:false, maxHeight:160}"
      open-on-clear
      item-text="label"
      item-value="id"
      placeholder="выберите город"
      @input="selectCity"
      no-data-text="Не найден :("
    ></v-autocomplete>
    <v-select
      :items="postTypes"
      item-text="label"
      item-value="id"
      v-model="typeSelected"
      @input="selectAdType"
    ></v-select>
    <v-text-field
      v-model="wordSearched"
      label="Поиск по тексту"
      filled
      clearable
      @input="filterAdsByText"
      @click:clear="clearFilter"
    ></v-text-field>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'CitySelector',
  data() {
    return {
      filter: {
        cityId: this.$store.state.cityselectorstore.citySelected,
        adType: this.$store.state.cityselectorstore.adType
      },
      postTypes: [
        { id: 0, label: 'Сниму' },
        { id: 1, label: 'Сдам' }
      ],
      wordSearched: ''
    }
  },

  methods: {
    selectCity() {
      if (!!this.filter.cityId) {
        let cityName = this.$store.state.cityselectorstore.citys.filter(city => city.id === this.filter.cityId)[0].name
        this.$store.dispatch('cityselectorstore/setCityId', {
          citySelected: this.filter.cityId,
          adType: this.filter.adType
        })
        this.$router.push(`/${cityName}`)

        //   .then(() => {
        //     this.$store.dispatch('ads/getAds', {
        //       citySelected: this.filter.cityId,
        //       adType: this.filter.adType
        //     })

        //   })
      } else return
    },
    selectAdType() {
      if (!!this.filter.cityId) {
        // let cityName = this.$store.state.cityselectorstore.citys.filter(city => city.id === this.filter.cityId)[0].name
        // this.$router.push(`/${cityName}`)

        this.$store
          .dispatch('cityselectorstore/setCityId', {
            citySelected: this.filter.cityId,
            adType: this.filter.adType
          })
          .then(() => {
            this.$store.dispatch('ads/getAds', {
              citySelected: this.filter.cityId,
              adType: this.filter.adType
            })
          })
      } else return
    },
    filterAdsByText() {
      this.$store.dispatch('ads/filterAdsByText', this.wordSearched)
    },
    clearFilter() {
      this.$store.dispatch('ads/filterAdsByText', '')
    },
    sortCitys() {
      return this.$store.getters['cityselectorstore/getCitys']
    }
  },

  computed: {
    ads() {
      return this.$store.state.ads
    },
    citySelected: {
      get: function () {
        return {
          id: this.filter.cityId,
          label: this.$store.state.cityselectorstore.citySelectedLabel
        }
      },
      set: function (cityId) {
        this.filter.cityId = cityId
      }
    },
    typeSelected: {
      get: function () {
        return {
          id: this.filter.adType,
          label: this.postTypes[this.filter.adType].label
        }
      },
      set: function (adType) {
        this.filter.adType = adType
      }
    }
  }
}
</script>
