<template>
  <div>
    <v-card :key="ad.id">
      <v-layout>
        <v-flex xs2>
          <a :href="`//vk.com/id${ad.user_id}`" target="_blank">
            <v-list-item class="grow">
              <v-list-item-avatar color="grey darken-3">
                <v-img
                  class="elevation-3"
                  :src="`${ad.avatar_url == 'undefined' ? require('@/assets/notAva.png'):ad.avatar_url }`"
                ></v-img>
              </v-list-item-avatar>
            </v-list-item>
          </a>
          <a
            v-if="ad.post_id != 0"
            :href="`//vk.com/wall${(ad.public_id > 0 ? ad.public_id *(-1) : ad.user_id) + '_' + ad.post_id}`"
            target="_blank"
          >Пост</a>
        </v-flex>
        <v-flex xs10>
          <v-layout column="true">
            <v-card-text>
              {{ isFullText ? ad.text : ad.text.substr(0, 300)
              +
              (ad.text.length > 300 ? ' . . .' : '') }}
            </v-card-text>

            <v-btn
              class="caption"
              small
              text
              @click="showFullText()"
              v-if="ad.text.length >290"
            >{{ ad.text.length > 300 ? (isFullText ? 'скрыть' : "подробнее") : '' }}</v-btn>
          </v-layout>

          <v-img
            :src="`${ad.images[0]}`"
            height="125px"
            contain
            class="photo"
            @click="openCarousel"
            v-if="!!ad.images && !!ad.images[0]"
          ></v-img>
        </v-flex>
      </v-layout>
      <v-card-title v-text="getCityName"></v-card-title>

      <v-card-actions>
        <title>{{getCityName}}</title>
        <v-spacer></v-spacer>
        <v-btn @click="editPost">
          <v-icon>{{svgPencil}}</v-icon>
        </v-btn>
        <v-btn @click="deletePost()">
          <v-icon>{{svgDeletePath}}</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog v-model="dialog" width="700">
      <v-carousel>
        <v-carousel-item v-for="(item,i) in ad.images" :key="i" :src="item"></v-carousel-item>
      </v-carousel>
    </v-dialog>
  </div>
</template>

<script>
import { mdiDelete, mdiPencil } from '@mdi/js'
import mapGetters from 'vuex'

export default {
  name: 'Card',
  props: ['ad'],
  data() {
    return {
      svgDeletePath: mdiDelete,
      svgPencil: mdiPencil,
      actionType: null,
      isFullText: false,
      dialog: false
    }
  },
  methods: {
    editPost() {
      this.$root.$emit('editpost', this.ad)
      this.actionType = 'edit'
    },
    deletePost() {
      confirm('Вы точно хотите удалить это объяввление?') &&
        this.$store.dispatch('ads/deletePost', this.ad)
    },
    showFullText() {
      this.isFullText = !this.isFullText
    },

    openCarousel() {
      this.dialog = true
    }
  },
  computed: {
    getCityName() {
      return this.$store.state.cityselectorstore.citys.filter(
        city => city.id === this.ad.city
      )[0].label
    }

    // ...mapGetters('cityselectorstore', ['getCityNameById'(1)])
  }
}
</script>

<style lang="scss" scoped>
.v-card {
  margin: 5px 5px 20px;
}
.v-img {
  margin: 5px;
  min-width: 200px;
}
.v-list-tile-avatar {
  margin: 15px;
}
.btn {
  margin-left: auto;
  margin-right: 0;
}
// .target {
//   margin: 20px;
// }
</style>



