<template>
  <div>
    <v-tabs v-model="active" color="cyan" dark centered>
      <v-tab>Мои объявления</v-tab>
      <!-- <v-tab>Настройки</v-tab> -->
      <v-tab-item>
        <v-row justify="center">
          <v-col cols="12" md="8" sm="12" lg="6">
            <v-card flat v-show="visiblePostList" justify="center">
              <div v-for="(ad,key) in ads.accountAds" :key="key">
                <card :ad="ad" />
              </div>
            </v-card>
            <v-alert
              v-if="ads.accountAds.length >= 2"
              type="warning"
            >Вы можете добавить не более 2 объявлений</v-alert>
            <post-editor ref="postEditorForm" v-bind:actionType.sync="actionType" />
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col cols="6" md="2">
            <v-btn
              class="button"
              v-if="visibleAddButton && ads.accountAds.length < 2"
              @click="addNewPost"
            >Добавить объявление</v-btn>
          </v-col>
        </v-row>
      </v-tab-item>
      <!-- <v-tab>Подписки</v-tab>

      <v-tab-item>
        <subscription />
      </v-tab-item>-->
      <v-tab v-if="isAdmin">Админка</v-tab>
      <v-tab-item v-if="isAdmin">
        <admin-panel></admin-panel>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import { mapState } from 'vuex'
const Card = () => import('./CardsPrivate')
const PostEditor = () => import('./PostEditor')
//const Subscription = () => import('./Subscription')
const AdminPanel = () => import('./../../components/AdminPanel/Index')
export default {
  layout: 'app_main',
  head: {
    meta: [
      { charset: 'utf-8' },
      { name: 'description', content: 'Sobnik - Личный кабинет' },
      { title: 'Личный кабинет' }
    ]
  },
  components: {
    card: Card,
    PostEditor: PostEditor,
    // Subscription: Subscription,
    AdminPanel
  },
  data() {
    return {
      visiblePostList: true,
      visibleAddButton: true,
      actionType: null,
      valid: false,
      active: null,
      postTypes: [
        { type: 10, label: 'Сниму' },
        { type: 11, label: 'Сдам' }
      ],
      postCity: null,
      postType: null,
      postText: null,
      cityRules: [v => !!v || 'Город не выбран'],
      typeRules: [v => !!v || 'Тип объявления не выбран'],
      descriptionRules: [
        v => !!v || 'Описание не заполнено',
        v => (v && v.length >= 15) || 'Описание не может быть короче 15 символов'
      ]
    }
  },
  methods: {
    async validate(e) {
      if (await this.$refs.form.validate()) this.snackbar = true

      if (this.valid) this.addPost()
      e.preventDefault()
    },
    selectFile() {
      this.file = this.$refs.file.files[0]
    },
    sendFile() {
      const formData = new FormData()
      formData.append('file', this.file)
      this.$store.dispatch('ads/addPost', formData)
    },
    addNewPost() {
      this.visiblePostList = false
      this.visibleAddButton = false
      this.$refs.postEditorForm.addPost()
    },
    // editPost(post) {
    //   this.visiblePostList = false
    //   this.visibleAddButton = false
    //   this.$refs.postEditorForm.editPost(post)
    // },
    getAccountAds() {
      this.$store.dispatch('ads/getAccountAds')
    },
    sortCitys() {
      return this.$store.getters['cityselectorstore/getCitys']
    },
    showPostList() {
      this.visiblePostList = true
      this.visibleAddButton = true
    },
    hidePostList() {
      this.visiblePostList = false
      this.visibleAddButton = false
    }
  },
  computed: {
    ...mapState(['ads']),
    isAdmin() {
      return this.$store.state.user.status
    }
  },

  mounted() {
    this.getAccountAds()
    this.$root.$on('editpost', () => this.hidePostList())
    this.$root.$on('close-post-editor', () => this.showPostList())
  }
}
</script>>  

<style lang="scss" scoped>
.button {
  margin: 10px 0;
}
.card {
  margin: 10px;
}
</style>