<template>
  <v-row v-if="visiblePostEditor" justify="center">
    <v-col xs12 md8 grow>
      <v-form
        lazy-validation
        v-model="valid"
        ref="form"
        @submit="validate"
        id="cardForm"
        class="card"
      >
        <v-autocomplete
          v-model="post.city"
          :items="sortCitys()"
          autofocus
          single-line
          clearable
          :menu-props="{closeOnClick:false, closeOnContentClick:true, openOnClick:false, maxHeight:160}"
          open-on-clear
          item-text="label"
          item-value="id"
          placeholder="Выберите город"
          :rules="cityRules"
          required
          no-data-text="Не найден :("
        ></v-autocomplete>
        <v-select
          v-model="post.ad_type"
          :items="postTypes"
          item-text="label"
          item-value="type"
          placeholder="Тип объявления"
          :rules="typeRules"
          required
        ></v-select>
        <v-textarea
          v-model="post.text"
          name="input-7-1"
          label="Текст объявления"
          placeholder="Описание... не забудье указать телефон и стоимоть"
          :rules="descriptionRules"
          required
        ></v-textarea>
        <form enctype="multipart/form-data" action>
          <div>
            <label for="file">Загрузить фото</label>
            <input type="file" @change="selectFile" ref="file" name="file" />
          </div>
        </form>
        <br />
        <v-btn
          class="button"
          :disabled="!valid"
          color="success"
          type="submit"
          form="cardForm"
        >Сохранить</v-btn>
        <v-btn class="button" @click="closePostEditor">Отмена</v-btn>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'PostEditor',
  props: ['ad'],
  data() {
    return {
      visiblePostEditor: false,
      valid: false,
      active: null,
      post: {
        city: null,
        ad_type: null,
        text: null
      },
      file: null,
      postTypes: [
        { type: 10, label: 'Сниму' },
        { type: 11, label: 'Сдам' }
      ],

      cityRules: [v => !!v || 'Город не выбран'],
      typeRules: [v => !!v || 'Тип объявления не выбран'],
      descriptionRules: [
        v => !!v || 'Описание не заполнено',
        v =>
          (v && v.length >= 15) || 'Описание не может быть короче 15 символов'
      ]
    }
  },
  methods: {
    async validate(e) {
      if (await this.$refs.form.validate()) this.snackbar = true

      if (this.valid) this.savePost()
      e.preventDefault()
    },
    selectFile() {
      this.post.img_1 = null
      this.file = this.$refs.file.files[0]
    },
    // sendFile() {
    //   const formData = new FormData()
    //   formData.append('file', this.file)
    //   this.$store.dispatch('addPost', formData)
    // },
    addPost() {
      this.post = {
        city: null,
        ad_type: null,
        text: null,
        img_1: null,
        images: []
      }
      this.file = ''
      this.actionType = 'create'
      this.visiblePostEditor = true
    },
    editPost(post) {
      this.file = ''
      this.actionType = 'edit'
      this.post = JSON.parse(JSON.stringify(post))
      this.fileOld = this.post.img_1
      this.imagesOld = this.post.images
      this.visiblePostEditor = true
    },
    closePostEditor() {
      this.visiblePostEditor = false
      this.$root.$emit('close-post-editor')
    },
    createPost() {
      const formData = new FormData()

      formData.append('images', this.file)
      formData.append('postCity', this.post.city)
      formData.append('postText', this.post.text)
      formData.append('postType', this.post.ad_type)
      formData.append('userPhoto', this.$store.state.user.photoAvatar)
      this.$store.dispatch('ads/addPost', formData)
    },

    savePost() {
      switch (this.actionType) {
        case 'edit':
          const formData = new FormData()

          formData.append('images', this.file)

          formData.append('postCity', this.post.city)
          formData.append('postText', this.post.text)
          formData.append('postType', this.post.ad_type)
          formData.append('id', this.post.id)
          formData.append('userPhoto', this.$store.state.user.photoAvatar)
          this.$store.dispatch('ads/editPost', formData)
          break

        case 'create':
          this.createPost()
          break
      }
      this.closePostEditor()
    },
    showPostEditor() {
      this.visiblePostEditor = true
    },
    sortCitys() {
      return this.$store.getters['cityselectorstore/getCitys']
    }
  },
  computed: {
    ...mapState(['ads'])
  },
  mounted() {
    this.$root.$on('editpost', post => this.editPost(post))
  }
}
</script>  
<style lang="scss" scoped>
.button {
  margin: 5px;
}
.card {
  margin: 10px;
}
</style>