<template>
  <div>
    <v-row justify="center" class="description">
      <p>Для просмотра объявлений необходимо оформить подписку</p>
    </v-row>

    <v-row justify="center">
      <v-col cols="10" md="3">
        <v-row align="center" align-content="center" justify="space-around">
          <v-col>
            <label class="label" for="city">Город:</label>
          </v-col>
          <v-col>
            <v-autocomplete
              id="City"
              v-model="subscription.cityId"
              :items="sortCitys()"
              autofocus
              single-line
              label="Город"
              :menu-props="{closeOnClick:false, closeOnContentClick:true, openOnClick:false, maxHeight:160}"
              open-on-clear
              item-text="label"
              item-value="id"
              placeholder="выберите город"
              no-data-text="Не найден :("
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="10" md="3">
        <v-row align="center" align-content="center" justify="center">
          <v-col>
            <label class="label" for="Period">Период:</label>
          </v-col>
          <v-col>
            <v-select
              id="Period"
              :items="subscriptions"
              item-text="label"
              item-value="type"
              v-model="subscription.type"
            ></v-select>
          </v-col>
        </v-row>
      </v-col>
      <v-col align-self="center" cols="10" md="2">
        <v-btn @click="buySubscription">Купить подписку</v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Subscription',
  data() {
    return {
      isEditing: null,
      subscriptions: [
        { type: 1, label: 'Неделя' },
        { type: 2, label: 'Две недели' },
        { type: 3, label: 'Месяц' }
      ],
      subscription: {
        type: 3,
        cityId: 1
      },
      wordSearched: ''
    }
  },
  methods: {
    buySubscriptions() {
      this.$store.dispatch('buySubscriptions', this.subscription)
    },
    sortCitys() {
      return this.$store.getters.getCitys
    },
    selectCity() {
      // localStorage.setItem(
      //   'cityId',
      //   this.$store.state.citySelectorStore.citySelected
      // )
      this.$store.dispatch('getAds', {
        citySelected: this.$store.state.citySelectorStore.citySelected,
        adType: this.$store.state.citySelectorStore.adType
      })
      this.$store.dispatch(
        'setCityId',
        this.$store.state.citySelectorStore.citySelected
      )
    },
    filterAdsByText() {
      this.$store.dispatch('filterAdsByText', this.wordSearched)
    },
    clearFilter() {
      this.$store.dispatch('filterAdsByText', '')
    }
  },

  computed: {
    ...mapState(['ads', 'citySelectorStore'])
  }
}
</script>

<style lang="scss" scoped>
.label {
  text-align: left;
  clear: both;
  float: left;
  margin: 0 15px;
}
.description {
  margin: 15px;
}
</style>
