<template>
  <v-container fluid>
    <v-layout align-center justify-center>
      <v-flex xs12 sm7>
        <v-alert type="error">Вашема аккаунту доступ запрещен.</v-alert>
        <p>
          Возможные причины блокировки:
          <br />1. Вы риэлтор или агент. К сожалению всем посредникам доступ запрещен.
          <br />2. Ваш аккаунт создан недавно.
          <br />3. Возможно Вы нарушили правила сайта.
        </p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  head() {
    return {
      title: 'Sobnik - доступ запрещен',
      meta: [
        // { charset: 'utf-8' },
        { vmid: 'access_denied', hid: 'access_denied', name: 'description', content: 'Sobnik - Доступ запрещен' }
      ]
    }
  }
}
</script>