<template>
  <v-container fluid>
    <v-col>
      <v-row xs12 sm7>Авторизуйтесь черз ВК чтобы получить доступ к объявлениям</v-row>
      <v-row justify="center" align="center">
        <v-btn
          class="mx-auto"
          color="blue lighten-2"
          dark
          @click="loginUser()"
          large
        >Авторизоваться ВК</v-btn>
      </v-row>
    </v-col>
  </v-container>
</template>

<script>
export default {
  title: 'Sobnik - ошибка авторизации',
  head: {
    meta: [
      // { charset: 'utf-8' },
      { vmid: 'auth_error', hid: 'auth_error', name: 'description', content: 'Sobnik - Ошибка авторизации' }
    ]
  },
  methods: {
    loginUser() {
      this.$store.dispatch('authorization/loginUser')
    }
  },
  mounted: function () {
    this.$store.dispatch('authorization/deleteTokens')
  }
}
</script>
