<template>
  <v-container fluid>
    <p style="padding: 5px">Мы во Вконтакте:</p>
    <v-row justify="center">
      <v-col v-for="(num, key) in [[0, 60], [60, 120], [120, 190]]" :key="key">
        <v-list>
          <v-list-item v-for="(city, key) in getCities(num).filter(ci => !!ci.soc)" :key="key">
            <v-icon>{{ mdiVkIcon }}</v-icon>
            <a target="_blank" :href="`//vk.com/sobnik_${city.soc}`">{{city.label}}</a>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>

    <p style="padding: 5px">Вы можете найти объявления в следующих городах:</p>
    <v-row justify="center">
      <v-col v-for="(num, key) in [[0, 60], [60, 120], [120, 190]]" :key="key">
        <v-list>
          <v-list-item v-for="(city, key) in getCities(num)" :key="key">
            <a :href="`/${city.name}`">{{city.label}}</a>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mdiVk } from '@mdi/js'

export default {
  layout: 'app_main',
  data() {
    return {
      mdiVkIcon: mdiVk,
      structuredData: {
        '@context': 'https://schema.org/',
        '@type': 'Service',
        name: 'Аренда жилья без посредников',
        brand: 'Sobnik.ru',
        image: 'https://sobnik.ru/sobnik_logo.jpg',
        description:
          'Sobnik - аренда жилья без посредников по всей России. У нас Вы можете найти объявления о сдаче/съеме квартиры от собственника'
      }
    }
  },
  head() {
    return {
      link: [{ rel: 'canonical', href: `https://sobnik.ru${this.$route.path}` }],
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        {
          innerHTML: JSON.stringify(this.structuredData),
          type: 'application/ld+json',
          body: true
        }
      ],
      title: 'Sobnik: Контакты',
      titleTemplate: '%s',
      meta: [
        // { charset: 'utf-8' },
        {
          vmid: 'contacts',
          hid: 'contacts',
          name: 'description',
          content: `Sobnik - аренда жилья без посредников по всей России. У нас Вы можете найти объявления о сдаче/съеме квартиры от собственника в городах: ${this.getCities(
            0,
            190
          )
            .map(c => c.label)
            .join(', ')}`
        },
        { property: 'og:url', content: 'https://sobnik.ru/' },
        { property: 'og:type', content: 'website' },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Sobnik - аренда жилья без посредников'
        },
        // {

        //   hid: 'og:description',
        //   property: 'og:description',
        //   content:
        //     'Sobnik - аренда жилья без посредников по всей России. У нас Вы можете найти объявления о сдаче/съеме квартиры от собственника.'
        // },
        { property: 'og:site_name', content: 'Собник.ру' },
        { property: 'og:locale', content: 'ru_RU' },
        { property: 'og:image', content: 'https://sobnik.ru/sobnik_logo.jpg' },
        { property: 'og:image:alt', content: 'Аренда жилья без посредников' }
      ]
    }
  },
  methods: {
    getCities(c) {
      return this.$store.getters['cityselectorstore/getCitys'].slice(c[0], c[1])
    }
  }
}
</script>

