<template>
  <v-app v-once>
    <section>
      <v-img
        :aspect-ratio="1"
        src="/sochi.jpg"
        height="600"
        max-width="100%"
        gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
      >
        <v-row justify="center" align="center" class="fill-height ma-0">
          <v-col align-self="center">
            <h1 class="mb-2 display-1 text-center text-white">Sobnik</h1>
            <h3 class="mb-2 text-center text-white">аренда жилья без посредников</h3>

            <v-row justify="center" align="center">
              <v-btn
                class="mx-auto"
                color="blue lighten-2"
                dark
                @click="loginUser()"
                large
              >Авторизоваться ВК</v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-img>
    </section>

    <section>
      <v-col align-self="center">
        <v-row justify="center" align="center" class="fill-height ma-0">
          <h2 class="headline">Sobnik фильтрирует агентов</h2>
        </v-row>

        <v-row>
          <v-col cols="12" md="4">
            <v-card flat>
              <v-card-text class="text-center">
                <v-icon x-large class="blue--text text--lighten-2">
                  {{
                  mdiCity
                  }}
                </v-icon>
              </v-card-text>
              <v-card-title primary-title class="layout justify-center">
                <div class="headline text-center">Работаем по всей стране</div>
              </v-card-title>
              <v-card-text>
                Объявления по 184 самым крупным городам России. Каждые 5
                минут база данных пополняется новыми объявлениями.
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card flat>
              <v-card-text class="text-center">
                <v-icon x-large class="blue--text text--lighten-2">
                  {{
                  mdiAccountRemove
                  }}
                </v-icon>
              </v-card-text>
              <v-card-title primary-title class="layout justify-center">
                <div class="headline">Блокируем агентов</div>
              </v-card-title>
              <v-card-text>
                На данный момент в нашей базе данных заблокировано более
                5000 риэлторов, агентов и других посредников.
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-card flat>
              <v-card-text class="text-center">
                <v-icon x-large class="blue--text text--lighten-2">
                  {{
                  mdiCashMultiple
                  }}
                </v-icon>
              </v-card-text>
              <v-card-title primary-title class="layout justify-center">
                <div class="headline text-center">Экономим деньги</div>
              </v-card-title>
              <v-card-text>
                Теперь Вам не нужно платить большую комиссию реэлтору за
                поиск жилья.
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </section>

    <section>
      <v-img
        :aspect-ratio="16 / 9"
        src="/moscow.jpg"
        height="380"
        gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
      >
        <v-row justify="center" align="center" class="fill-height ma-0">
          <v-col align-self="center">
            <div
              class="headline white--text mb-4 text-center"
            >Поиск жилья никогда не был таким простым</div>
            <h3 class="mb-2 text-center text-white">Найди себе жилье прямо сейчас</h3>
            <v-row justify="center" align="center">
              <v-btn
                class="mt-12"
                color="blue lighten-2"
                dark
                @click="loginUser()"
                large
              >Авторизоваться ВК</v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-img>
    </section>

    <section>
      <v-row justify="space-around">
        <v-col cols="12" sm="4">
          <v-card flat>
            <v-card-title primary-title class="layout justify-center">
              <div class="headline">О сервисе</div>
            </v-card-title>
            <v-card-text>
              С помощью Sobnik Вы сможете сэкономить много времени при поиске
              жилья во Вконтакте. Происходит глубокая фильтрация объявлений по
              многим параметрам.
            </v-card-text>
          </v-card>
        </v-col>

        <v-col cols="12" sm="4">
          <v-card flat>
            <v-card-title primary-title class="layout justify-center">
              <div class="headline">Напишите нам</div>
            </v-card-title>
            <v-card-text>
              Если у Вас возникли вопросы по работе сайта напишите нам на
              почту или в сообществе ВК
              <br />
              <br />
              <v-row>
                <v-icon class="blue--text text--lighten-2 icon">
                  {{
                  mdiEmail
                  }}
                </v-icon>info@sobnik.ru
              </v-row>
              <v-row>
                <v-icon class="blue--text text--lighten-2 icon">
                  {{
                  mdiVk
                  }}
                </v-icon>
                <a href="https://vk.com/sobnik_ru" target="_blank">vk.com/sobnik_ru</a>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </section>

    <v-footer
      color="blue darken-2"
      class="white--text"
    >© 2019 Sobnik - аренда жилья без посредников.</v-footer>
  </v-app>
</template>

<script>
import { mdiEmail, mdiCity, mdiAccountRemove, mdiCashMultiple, mdiVk } from '@mdi/js'

export default {
  data() {
    return {
      mdiEmail,
      mdiCity,
      mdiAccountRemove,
      mdiCashMultiple,
      mdiVk,
      structuredData: {
        '@context': 'https://schema.org/',
        '@type': 'Service',
        name: 'Аренда жилья без посредников',
        brand: 'Sobnik.ru',
        image: 'https://sobnik.ru/sobnik_logo.jpg',
        description:
          'Sobnik - аренда жилья без посредников по всей России. У нас Вы можете найти объявления о сдаче/съеме квартиры от собственника'
      }
    }
  },
  methods: {
    loginUser() {
      this.$store.dispatch('authorization/loginUser')
    }
  },
  h1: 'Аренда жилья без посредников',
  head() {
    return {
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        {
          innerHTML: JSON.stringify(this.structuredData),
          type: 'application/ld+json',
          body: true
        }
      ],
      title: 'Sobnik - аренда жилья без посредников',
      titleTemplate: '%s',
      meta: [
        // { charset: 'utf-8' },
        {
          hid: 'index',
          name: 'description',
          content:
            'Sobnik - аренда жилья без посредников по всей России. У нас Вы можете найти объявления о сдаче/съеме квартиры от собственника..'
        },
        { property: 'og:url', content: 'https://sobnik.ru/' },
        { property: 'og:type', content: 'website' },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Sobnik - аренда жилья без посредников'
        },
        {
          hid: 'og:description_index',
          property: 'og:description',
          content:
            'Sobnik - аренда жилья без посредников по всей России. У нас Вы можете найти объявления о сдаче/съеме квартиры от собственника'
        },
        { property: 'og:site_name', content: 'Собник.ру' },
        { property: 'og:locale', content: 'ru_RU' },
        { property: 'og:image', content: 'https://sobnik.ru/sobnik_logo.jpg' },
        { property: 'og:image:alt', content: 'Аренда жилья без посредников' }
      ]
    }
  }
}
</script>

<style lang="scss">
.text-white {
  color: white;
}
.icon {
  margin: 0 5px;
}
section {
  margin: inline-block;
}
</style>
