<template>
  <form @submit.prevent="sendFile" enctype="multipart/form-data" action>
    <div>
      <label for="file">Загрузить фото</label>
      <input type="file" @change="selectFile" ref="file" name="file" />
    </div>
    <div>
      <v-btn @click="sendFile">Загрузить</v-btn>
    </div>
  </form>
</template>>

<script>
export default {
  data() {
    return {
      file: ''
    }
  },
  methods: {
    selectFile() {
      this.file = this.$refs.file.files[0]
    },
    sendFile() {
      const formData = new FormData()
      formData.append('file', this.file)
      this.$store.dispatch('addPost', formData)
    }
  }
}
</script>>  