<template>
  <v-dialog v-model="postVisible">
    <v-card :key="ad.id" v-if="postVisible">
      <v-row align="start" align-content="start" no-gutters>
        <v-col sm="1" cols="2">
          <div class="avatar-block">
            <a :href="`//vk.com/id${ad.user_id}`" target="_blank">
              <v-img
                class="avatar"
                :src="`${ad.avatar_url == 'undefined' ? require('@/assets/notAva.png'):ad.avatar_url }`"
              ></v-img>
            </a>
            <a
              class="link"
              v-if="ad.post_id !== 0 && ad.public_id ===0 || status"
              :href="`//vk.com/wall${(ad.public_id > 0 ? ad.public_id *(-1) : ad.user_id) + '_' + ad.post_id}`"
              target="_blank"
            >Пост</a>
          </div>
        </v-col>
        <v-col sm="11" cols="10">
          <v-card-text>
            <v-row no-gutters justify="space-between">
              <v-col>
                <a class="firstname" :href="`//vk.com/id${ad.user_id}`" target="_blank">
                  <h3>{{ ad.first_name}}</h3>
                </a>
                <p v-if="!!getDate" class="caption">{{ getDate }}</p>
              </v-col>
              <v-spacer></v-spacer>
              <v-col sm="1" cols="2">
                <v-menu right>
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark v-on="on" text>
                      <v-icon>{{svgKeyboardArrowDown}}</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(complain, index) in complainTypes"
                      :key="index"
                      @click="toComplain(complain.id)"
                    >
                      <v-list-item-title>{{ complain.title }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              {{ isFullText ? ad.text : ad.text.substr(0, 300)
              +
              (ad.text.length > 300 ? ' . . .' : '') }}
            </v-row>
          </v-card-text>

          <v-btn
            class="btn"
            small
            text
            @click="showFullText()"
            v-if="ad.text.length >290"
          >{{ ad.text.length > 300 ? (isFullText ? 'скрыть' : "подробнее") : '' }}</v-btn>

          <v-img
            :src="`${ad.images[0]}`"
            height="125px"
            contain
            class="photo"
            @click="openCarousel"
            v-if="!!ad.images && !!ad.images[0]"
          ></v-img>
        </v-col>
        <v-col v-if="status">
          <v-card-actions>
            <v-btn @click="deletePost()">
              <v-icon>{{svgDeletePath}}</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-col>
      </v-row>
    </v-card>
    <v-dialog v-model="dialog">
      <v-carousel>
        <v-carousel-item v-for="(item,i) in ad.images" :key="i" :src="item"></v-carousel-item>
      </v-carousel>
    </v-dialog>
  </v-dialog>
</template>

<script>
import { mdiDelete, mdiChevronDown } from '@mdi/js'

export default {
  name: 'Card',
  data() {
    return {
      svgDeletePath: mdiDelete,
      svgKeyboardArrowDown: mdiChevronDown,
      isFullText: false,
      dialog: false,
      postVisible: false,
      complainTypes: [
        { id: 1, title: 'Это агент' },
        { id: 2, title: 'Это не объявление' },
        { id: 3, title: 'Не актуально' },
        { id: 4, title: 'Скрыть' }
      ]
    }
  },
  methods: {
    showPost() {
      this.postVisible = true
    },
    getPostById(postId) {
      this.$store.dispatch('ads/getPostById', postId).then(() => {
        this.showPost()
      })
    },
    toComplain(id) {
      this.ad.complainTypeId = id
      this.$store.dispatch('complains/complainPost', this.ad)
    },
    showFullText() {
      this.isFullText = !this.isFullText
    },
    openCarousel() {
      this.dialog = true
    },
    deletePost() {
      confirm('Вы точно хотите удалить это объяввление?') &&
        this.$store.dispatch('ads/deletePost', this.ad)
    }
  },
  computed: {
    ad() {
      return this.$store.state.ads.currentPost
    },
    status() {
      return this.$store.state.user.status
    },
    getDate() {
      let hour = parseInt((Date.now() / 1000 - this.ad.date) / 3600)
      let timePassed = ''
      if (this.ad.date) {
        if (hour < 1) {
          let minutes = parseInt((Date.now() / 1000 - this.ad.date) / 60)

          if (minutes === 1) {
            timePassed = `${minutes} минуту назад`
          }
          if (minutes > 1 && minutes <= 4) {
            timePassed = `${minutes} минуты назад`
          }
          if (minutes > 4) {
            timePassed = `${minutes} минут назад`
          }
        } else if (hour > 24) {
          let days = parseInt(hour / 24)
          if (days === 1) {
            timePassed = `${days} день назад`
          }
          if (days > 1 && days <= 4) {
            timePassed = `${days} дня назад`
          }
          if (days > 4) {
            timePassed = `${days} дней назад`
          }
        } else {
          if (hour === 1) {
            timePassed = `${hour} час назад`
          }
          if (hour > 1 && hour <= 4) {
            timePassed = `${hour} часа назад`
          }
          if (hour > 4) {
            timePassed = `${hour} часов назад`
          }
        }
      }
      return timePassed
    }
  }
}
</script>

<style lang="scss" scoped>
.v-card {
  margin: 5px 0px 20px;
}
.photo {
  margin: 5px;
  min-width: 200px;
}
.avatar-block {
  margin: 10px 10px;
}
.avatar {
  border-radius: 100px;
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 12px;
}
.link {
  white-space: nowrap;
  margin: 10px auto;
}
.btn {
  margin: 0 auto;
}
.firstname {
  text-decoration: none;
}
</style>



