<template>
  <v-container fluid>
    <title>Sobnik.ru: Admin</title>
    <v-layout align-content-end justify-center>
      <v-flex xs12 md9 lg8 grow>
        <v-data-table
          :headers="headers"
          :items="complains.list"
          :items-per-page="5"
          class="elevation-1"
        >
          <template v-slot:item.complain_type_id="{ item }">
            <div>{{getStatus(item.complain_type_id)}}</div>
          </template>
          <template v-slot:item.date="{ item }">
            <div>{{$moment(item.date * 1000).format('DD.MM.YYYY') }}</div>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon class="mr-2" @click="blockUser(item.user_id)">{{mdiAccountCancel}}</v-icon>
            <v-icon @click="deleteAllAdsOfUser(item.user_id)">{{mdiDeleteSweep}}</v-icon>
            <v-icon @click="showPost(item.ads_id)">{{mdiCardSearch}}</v-icon>
          </template>
        </v-data-table>

        <card ref="card" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import { mdiAccountCancel, mdiDeleteSweep, mdiCardSearch } from '@mdi/js'
import Card from './Card'

export default {
  data() {
    return {
      mdiAccountCancel,
      mdiDeleteSweep,
      mdiCardSearch,
      postVisible: false,
      complainTypes: [
        { id: 1, title: 'Это агент' },
        { id: 2, title: 'Это не объявление' },
        { id: 3, title: 'Не актуально' },
        { id: 4, title: 'Скрыть' }
      ],
      headers: [
        {
          text: 'Пользователь',
          align: 'left',

          value: 'user_id'
        },
        { text: 'Пожаловался', value: 'user_from_id' },
        { text: 'Тип жалобы', value: 'complain_type_id' },
        { text: 'Пост ВК', value: 'post_id' },
        { text: 'Пост', value: 'ads_id' },
        { text: 'Дата', value: 'date' },
        { text: 'Действия', value: 'action', sortable: false }
      ]
    }
  },
  metaInfo: {
    meta: [{ charset: 'utf-8' }, { name: 'description', content: 'Sobnik - объявления о недвижимости' }]
  },
  components: {
    card: Card
  },
  methods: {
    getStatus(statusId) {
      return this.complainTypes.filter(complain => complain.id === statusId)[0].title
    },
    showPost(postId) {
      this.$refs.card.getPostById(postId)
      this.postVisible = true
    },
    blockUser(userId) {
      confirm('Вы точно хотите заблокировать пользователя? ') && this.$store.dispatch('user/blockUser', userId)
    },
    deleteAllAdsOfUser(userId) {
      confirm('Вы точно хотите удалить все объявления пользователя? ') &&
        this.$store.dispatch('ads/deleteAllAdsOfUser', userId)
    }
  },
  computed: {
    ...mapState(['complains'])
  },

  mounted() {
    this.$store.dispatch('complains/getComplainList')
  }
}
</script>


