<template>
  <v-container fluid>
    <v-layout align-content-end justify-center>
      <v-flex xs12 md9 lg8 grow>
        <card :ad="ad" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Cookies from 'js-cookie'
const Card = () => import('../../../../components/Card/Card')

export default {
  data() {
    return {}
  },
  head() {
    return {
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        {
          innerHTML: JSON.stringify(this.structuredData),
          type: 'application/ld+json',
          body: true
        }
      ],
      title: `${this.typeLabel} квартиру без посредников в городе ${this.$store.getters['cityselectorstore/citySelectedLabel']} от собственника`,
      meta: [
        {
          hid: 'id',
          name: 'description'
          //content: `${this.ad.text.substring(0, 100)}`
        }
      ]
    }
  },
  components: {
    Card
  },
  layout: 'app_main',
  computed: {
    typeLabel() {
      return [
        { id: 0, label: 'Сниму' },
        { id: 1, label: 'Сдам' }
      ].filter(t => t.id === this.$store.state.cityselectorstore.adType)[0].label
    },

    ad() {
      return this.$store.state.ads.currentPost
    }
  },
  mounted() {
    let accessToken = Cookies.get('accessToken'),
      refreshToken = Cookies.get('refreshToken'),
      userPhoto = Cookies.get('userPhoto'),
      firstName = Cookies.get('firstName'),
      token = Cookies.get('token')

    if (token === 'admin') {
      this.$store.dispatch('user/setStatus')
    }
    if (!!accessToken && !!refreshToken) {
      this.$store.dispatch('authorization/setTokens', {
        accessToken,
        refreshToken
      })

      this.$store.dispatch('user/setUserData', {
        photo: userPhoto,
        firstName
      })
      this.$axios.setToken(accessToken, 'Bearer')
      this.$axios.setHeader('refreshToken', refreshToken)
    }

    if (this.$store.state.authorization.isAuthenticated) {
      let id = this.$route.params.id
      this.$store.dispatch('ads/getPostById', id)
    } else {
      let id = this.$route.params.id
      this.$store.dispatch('ads/getPost', id)
    }
  }
}
</script>

