<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" v-if="!showAuthorizationButton" app>
      <label>
        <v-icon>{{ svgCity }}</v-icon
        >Sobnik
      </label>
      <city-selector class="city-selector" />
      <br />
      <br />
      <br />
      <v-btn class="city-selector" href="https://vk.com/im?media=&sel=-92680197" target="_blank">Тех.Поддержка</v-btn>
      <v-btn replace class="city-selector" to="/contacts">Контакты</v-btn>
    </v-navigation-drawer>
    <v-app-bar app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="!showAuthorizationButton" />
      <v-toolbar-title @click="pushToHome" v-text="'Sobnik'" />
      <v-spacer />
      <v-toolbar-items>
        <v-btn v-if="!showAuthorizationButton && currentRoute !== '/lk'" @click="pushToLk" text>
          <v-icon>{{ svgAccount }}</v-icon>
        </v-btn>
        <v-btn
          v-if="!showAuthorizationButton && (currentRoute == '/lk' || currentRoute == '/contacts')"
          @click="pushToHome"
          text
          >Объявления</v-btn
        >
        <v-btn v-if="showAuthorizationButton" @click="loginUser()" text>Авторизоваться ВК</v-btn>
        <v-btn v-if="!showAuthorizationButton && currentRoute !== '/'" @click.stop="drawer = !drawer" text>{{
          cityName
        }}</v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-main>
      <v-col>
        <v-row>
          <NuxtLink :to="`/${citySelectedName}/${typeName}`" class="nuxt-link">{{ citySelectedLabel }} -</NuxtLink>
          <NuxtLink :to="`/${citySelectedName}/${typeName}`" class="nuxt-link">{{ typeLabel }}</NuxtLink>
        </v-row>
      </v-col>
      <nuxt />
    </v-main>
  </v-app>
</template>

<script>
import { mdiAccount, mdiCity } from '@mdi/js'
import CitySelector from './../components/CitySelector/CitySelector.component.vue'

export default {
  head() {
    return {
      link: [{ rel: 'canonical', href: `https://sobnik.ru${this.$route.path.toLowerCase().replace(/\/$/, '')}` }]
    }
  },

  components: {
    CitySelector
  },
  name: 'App',
  data() {
    return {
      svgAccount: mdiAccount,
      svgCity: mdiCity,
      drawer: false
    }
  },
  methods: {
    loginUser() {
      this.$store.dispatch('authorization/loginUser')
    },
    pushToHome() {
      this.$router.push(`/${this.$store.getters['cityselectorstore/citySelectedName']}`)
    },
    pushToLk() {
      this.$router.push(`/lk`)
    }
  },
  computed: {
    citySelectedLabel() {
      return this.$store.getters['cityselectorstore/citySelectedLabel']
    },
    citySelectedName() {
      return this.$store.getters['cityselectorstore/citySelectedName']
    },
    typeLabel() {
      return [
        { id: 0, label: 'Сниму' },
        { id: 1, label: 'Сдам' }
      ].filter(t => t.id === this.$store.state.cityselectorstore.adType)[0].label
    },
    typeName() {
      return [
        { id: 0, label: 'snimu' },
        { id: 1, label: 'sdam' }
      ].filter(t => t.id === this.$store.state.cityselectorstore.adType)[0].label
    },
    cityName() {
      return this.$store.getters['cityselectorstore/citySelectedLabel']
    },
    showAuthorizationButton() {
      return !!this.$store.state.authorization.isAuthenticated ? false : true
    },
    currentRoute() {
      return this.$route.path
    }
  }
}
</script>

<style lang="scss">
.nuxt-link {
  text-decoration: none;
  margin-left: 4px;
}
.city-selector {
  white-space: pre-wrap;
  margin: 15px;
}
</style>
