<template>
  <div>
    <nuxt />
  </div>
</template>

<script>
export default {
  head() {
    return {
      link: [{ rel: "canonical", href: `https://sobnik.ru${this.$route.path}` }]
    };
  }
};
</script>
