<template>
  <v-container fluid>
    <v-layout align-content-end justify-center>
      <v-flex xs12 md9 lg8 grow>
        <div v-for="(ad,key) in adsByPages" :key="key">
          <card :ad="ad" />
        </div>
        <v-pagination
          :length="ads.pagesCount"
          v-model="ads.pageCurrent"
          @input="selectPage"
          v-if="isAuthenticated"
        />
        <v-row justify="center" align="center" v-if="!isAuthenticated">
          <v-col>
            <h3
              class="text-center"
            >Чтобы увидеть больше объявлений, авторизуйтесь. Доступ бесплатный.</h3>
            <v-row justify="center" align="center">
              <v-btn
                class="mt-12"
                color="blue lighten-2"
                dark
                @click="loginUser()"
                large
              >Авторизоваться ВК</v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import Cookies from 'js-cookie'
const Card = () => import('../../components/Card/Card')

export default {
  layout: 'app_main',

  components: {
    card: Card
  },
  methods: {
    selectPage(val) {
      this.$store.dispatch('ads/selectPage', val)
    },
    loginUser() {
      this.$store.dispatch('authorization/loginUser')
    }
  },
  computed: {
    isAuthenticated() {
      return this.$store.state.authorization.isAuthenticated
    },
    getCity() {
      return this.$route.params.city
    },
    ads() {
      return this.$store.state.ads
    },

    // citySelectedLabel() {
    //   return this.$store.state.cityselectorstore.citySelectedLabel
    // },
    // citySelectedName() {
    //   return this.$store.state.cityselectorstore.citySelectedName
    // },
    // typeLabel() {
    //   return [
    //     { id: 0, label: 'Сниму' },
    //     { id: 1, label: 'Сдам' }
    //   ].filter(t => t.id === this.$store.state.cityselectorstore.adType)[0].label
    // },
    // typeName() {
    //   return [
    //     { id: 0, label: 'snimu' },
    //     { id: 1, label: 'sdam' }
    //   ].filter(t => t.id === this.$store.state.cityselectorstore.adType)[0].label
    // },
    ...mapGetters({ adsByPages: 'ads/adsByPages' })
  }
  // mounted() {
  //   let accessToken = Cookies.get('accessToken'),
  //     refreshToken = Cookies.get('refreshToken'),
  //     userPhoto = Cookies.get('userPhoto'),
  //     firstName = Cookies.get('firstName'),
  //     token = Cookies.get('token')

  //   if (token === 'admin') {
  //     this.$store.dispatch('user/setStatus')
  //   }
  //   if (!!accessToken && !!refreshToken) {
  //     this.$store.dispatch('authorization/setTokens', {
  //       accessToken,
  //       refreshToken
  //     })

  //     this.$store.dispatch('user/setUserData', {
  //       photo: userPhoto,
  //       firstName
  //     })
  //     this.$axios.setToken(accessToken, 'Bearer')
  //     this.$axios.setHeader('refreshToken', refreshToken)
  //   }

  //   let cityName = this.$route.params.city

  //   this.$store.dispatch('cityselectorstore/setCityIdByName', cityName).then(cityId => {
  //     if (this.$store.state.authorization.isAuthenticated) {
  //       this.$store.dispatch('ads/getAds', {
  //         citySelected: cityId,
  //         adType: this.$store.state.cityselectorstore.adType
  //       })
  //     } else {
  //       this.$store.dispatch('ads/getAdsLimit', {
  //         citySelected: cityId,
  //         adType: 1
  //       })
  //     }
  //   })
  // }
}
</script>




