<template>
  <city />
</template>

<script>
import { mapGetters } from 'vuex'
import Cookies from 'js-cookie'
import city from './city'

export default {
  components: { city },
  layout: 'app_main',
  head() {
    return {
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        {
          innerHTML: JSON.stringify(this.structuredData),
          type: 'application/ld+json',
          body: true
        }
      ],
      title: `Жилье без посредников в городе ${this.$store.getters['cityselectorstore/citySelectedLabel']} от собственника`,
      meta: [
        {
          hid: 'city',
          name: 'description',
          content: `Sobnik - аренда жилья без посредников на длительный срок в городе ${this.$store.getters['cityselectorstore/citySelectedLabel']}`
        }
      ]
    }
  },

  methods: {
    structuredData() {
      return {
        '@context': 'https://schema.org/',
        '@type': 'Service',
        name: 'Аренда жилья без посредников',
        brand: 'Sobnik.ru',
        image: 'https://sobnik.ru/sobnik_logo.jpg',
        description: `Sobnik - аренда жилья без посредников на длительный срок в городе ${
          this.$store.state.cityselectorstore.citys.filter(city => city.name === this.$route.params.city)[0].label
        }`
      }
    },
    selectPage(val) {
      this.$store.dispatch('ads/selectPage', val)
    },
    loginUser() {
      this.$store.dispatch('authorization/loginUser')
    }
  },
  computed: {
    isAuthenticated() {
      return this.$store.state.authorization.isAuthenticated
    },
    getCity() {
      return this.$route.params.city
    },
    ads() {
      return this.$store.state.ads
    },
    citySelectedLabel() {
      return this.$store.getters['cityselectorstore/citySelectedLabel']
    },
    citySelectedName() {
      return this.$store.getters['cityselectorstore/citySelectedName']
    },
    typeLabel() {
      return [
        { id: 0, label: 'Сниму' },
        { id: 1, label: 'Сдам' }
      ].filter(t => t.id === this.$store.state.cityselectorstore.adType)[0].label
    },
    typeName() {
      return [
        { id: 0, label: 'snimu' },
        { id: 1, label: 'sdam' }
      ].filter(t => t.id === this.$store.state.cityselectorstore.adType)[0].label
    },
    ...mapGetters({ adsByPages: 'ads/adsByPages' })
  },
  mounted() {
    let accessToken = Cookies.get('accessToken'),
      refreshToken = Cookies.get('refreshToken'),
      userPhoto = Cookies.get('userPhoto'),
      firstName = Cookies.get('firstName'),
      token = Cookies.get('token')

    if (token === 'admin') {
      this.$store.dispatch('user/setStatus')
    }
    if (!!accessToken && !!refreshToken) {
      this.$store.dispatch('authorization/setTokens', {
        accessToken,
        refreshToken
      })

      this.$store.dispatch('user/setUserData', {
        photo: userPhoto,
        firstName
      })
      this.$axios.setToken(accessToken, 'Bearer')
      this.$axios.setHeader('refreshToken', refreshToken)
    }

    let cityName = this.$route.params.city

    this.$store.dispatch('cityselectorstore/setCityIdByName', cityName).then(cityId => {
      if (this.$store.state.authorization.isAuthenticated) {
        this.$store.dispatch('ads/getAds', {
          citySelected: cityId,
          adType: this.$store.state.cityselectorstore.adType
        })
      } else {
        this.$store.dispatch('ads/getAdsLimit', {
          citySelected: cityId,
          adType: 1
        })
      }
    })
  }
}
</script>




